{% load static %}
{% include 'common_scripts.html' %}
<script>
    // Function to refresh all categories for the current term, and get the most current
    //      categories back from the server
    const refreshCategories = () => {
        
        // Clear all data for the current term
        clearCurrent();

        // Getting the container for all the category items
        const categoriesList = document.getElementById(`categories-list-categories`);

        // Clear categories in DOM
        while (categoriesList.firstChild) {
            categoriesList.removeChild(categoriesList.lastChild);
        }

        saidSynQuery (
            refreshButton, {
                url: `/said/view/search/singles/`,
                data: JSON.stringify ({
                    'categories': [],    // querying for all categories
                    'add': true
                }),
            }, ()=>{}
        )
    }

    const submit  = document.getElementById('submit-button');
    const tooltip = document.getElementById('plus-tooptip');

    // Bind an event that will rotate the 'x' submit button to look like a plus
    //      and change the tooltip text whenever a node is inserted into the chosen
    //      list
    $('#categories-list-chosen').bind("DOMNodeInserted", () => {
        submit.style.transform = 'rotate(0deg)';
        tooltip.innerHTML      = "Add categories for this term"
    });

    // Bind an event that will rotate the '+' submit button to look like an 'x'
    //      and change the tooltip text whenever the chosen node list becomes 
    //      empty
    $('#categories-list-chosen').bind("DOMNodeRemoved", () => {
        if (document.getElementById('categories-list-chosen').children.length === 1) {
            submit.style.transform = 'rotate(45deg)';
            tooltip.innerHTML      = "Skip this term";
        }
    });

    const searchLabel = document.getElementById('main-search-form-label');
    
    // Function to intercept the submission of the main search form, and make out own post 
    //      post to the server
    const interceptSubmit = () => {

        const submission = new Submit(term, [...selected]);
        submission.do(refreshButton);

        undos.splice(0, undos.length);

        // Display the next term
        nextTerm();

        return false;
    }
</script>