<style>
    .file-box {
        background-color: #43a7c6;
        width: 50vw;
        height: fit-content;
        margin-left: 25vw;
        padding-bottom: 10px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        padding-right: 12px;
    }
    .inner-box {
        float: none;
        width: 97%;
        height: fit-content;
        margin-left: 5px;
        text-align: center;
        position: relative;
        border-style: dashed;
        z-index: 4;
    }

    .file-button {
        width: fit-content;
        font-size: x-large;
        top: 100px;
        right: 100px;
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .file-in {
        display: none;
    }

    #shade {
        position: fixed; 
        width: 100%; 
        height: 100%; 
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(250,250,250,0.5); 
        z-index: 2; 
        cursor: pointer; 
    }

    .begin-button {
        color: white;
        background-color: red;
    }

    .begin-button:hover {
        background-color: #8a1010;
    }
</style>
<div id="shade" style="display: none;"></div>
<div id="file-view">
    <div class="file-box box">
        <h2 class="category-name box""> 
            <div class="">
                Upload Your file here!
            </div>
        </h2>
        <div class="syn-list inner-box box" id="drop-container">
            <h2 style="margin-top: -5px;"></h2>

            <input type="button" class="nym file-button" value="File" id="file-button"></input><br />
            <input type="file" class="file-in" value="File" id="file-input"></input>
            
            <input 
                type="button" 
                class="nym file-button begin-button" 
                style="display: none;"
                value="Begin!" 
                id="begin-button"
                onclick="begin();"
            ></input>
        
        </div>
    </div>
</div>


<script>
    let content;

    // Get the saidSynonymContent item from session storage
    const contentJSON = window.sessionStorage.getItem('saidSynonymContent');
    if (contentJSON) {
        // If the above item exists, parse the string as JSON, and start adding
        content = JSON.parse(contentJSON);

        nextTerm(false);

        document.getElementById('file-view').style.display = 'none';
        document.getElementById( 'add-view').style.display = '';

        iso();
    }


    // Spoofing the button click event to also click the file button, because it
    //      is apparently impossible to style a file input button
    $('#file-button').click(() => {
        $('#file-input').click();
    });


    $('#file-input').change((event) => {
        processFileDrop(event.target.files);
    });
    
    const dropContainer = document.getElementById('drop-container');
    {
        // Block to add events for dragover and drop and drageleace to 
        //      set the overlay and process file drop

        // Set overlay visible on dragover
        document.addEventListener('dragover', (event) => {
            document.getElementById('shade').style.display = '';
            dropContainer.style.backgroundColor = '#43a7c6';
        });
        
        // Set overlay invisible on dragleave
        document.body.addEventListener('dragleave', (event) => {
            document.getElementById('shade').style.display = 'none';
            dropContainer.style.backgroundColor = '#add8e6';
        });
    
        // Dragover on drop box initiates copy drop effect
        dropContainer.addEventListener('dragover', (event) => {
            event.stopPropagation();
            event.preventDefault();
            
            event.dataTransfer.dropEffect = 'copy';
        });
        
        // Drop on drop box downloads file and calls processFileDrop
        dropContainer.addEventListener('drop', (event) => {
            event.stopPropagation();
            event.preventDefault();
    
            processFileDrop(event.dataTransfer.files);
        });
    }

    // Function to read and parse an input file
    const processFileDrop = (files) => {
        let fileName = files[0].name;
        const button = document.getElementById('file-button');
        
        if (!fileName.endsWith('.txt')) {
            // Display error message
            fileName = 'Please upload a text file!'
            button.style.color = 'red';
            button.value = fileName;
            return;
        }
        
        // Paste the file name into the button text
        button.style.color = '';
        button.value = fileName;

        // Reading the file
        const reader = new FileReader();
        reader.addEventListener('load', (event) => {
            // Getting a list of all categorized synonyms of said
            const allCategorized = []
            Object.getOwnPropertyNames(categories)
                .forEach(key => {
                    const item = categories[ key ];
                    allCategorized.push(...item);
                })
            ;;

            // Making a set (removing duplicates)
            const setCategorizes = new Set(allCategorized);

            // Setting content variables to the result of the file read
            content = event.target.result
                .split(/\s/g)                           // split at whitespace
                .map(x=>x.trim().toLocaleLowerCase())   // map the strings to lower case and trimmed
                .filter(x=>x)                           // filter out empty strings
                .filter(x => !setCategorizes.has(x))    // filters terms that have been categorized
                .map(x => x.capitalize())               // capitalize all
                .sort()                                 // sort em
            ;;
            // Add the begin button to the DOM
            document.getElementById('begin-button').style.display = '' ;
        });
        reader.readAsText(files[0]);


    }

    // Function to begin adding said synonyms
    const begin = () => {
        // Load the text file in local storage
        window.sessionStorage.setItem (
            'saidSynonymContent', 
            JSON.stringify(content)
        );

        // Hide the file view, and ungide the add view
        document.getElementById('file-view').style.display = 'none';
        document.getElementById( 'add-view').style.display = '';
        iso();

        // Calling nextTerm to display the first term
        nextTerm();
    }

</script>
    

