<script>

    // General function to query the server, recieving: an element to spin (the refresh button,
    //      or the undo button, or the redo button), a querying object (with url and data fields)l
    //      and a callback to activate after the request
    const saidSynQuery = (spinElement, queryObj, postPOSTCallback) => {

        // Function to update the DOM with the retrieved data from django
        const updateDOM = (data) => {
            // Take retrieved data from django, turn them into elements
            //      in the 'node' variable
            const placeholder = document.createElement('div');
            placeholder.innerHTML = data;
            const node = placeholder.childNodes;
    
            // Getting the container for all the category items
            const categoriesList = document.getElementById(`categories-list-categories`);
    
            // Clear categories in DOM
            while (categoriesList.firstChild) {
                categoriesList.removeChild(categoriesList.lastChild);
            }
    
            // Clear out all data from the current term
            clearCurrent();
    
            // Executing the code in the script tag -- (reseting the categories)
            //      object
            eval(placeholder.querySelector('#new-categories')?.innerHTML);
    
            // Insert the retrieved categories into the grid with 
            //      isotope
            $(`#categories-list-categories`).isotope('insert', node);
    
            iso();
        }

        // Queries will always POST and always include the csrf token
        const stdQuery = {
            type: 'POST',
            headers: {
                // Include the csrf token
                'X-CSRFToken': Cookies.get('csrftoken')
            }
        };

        // Final query includes the stdQuery and the parameter query object
        const finalQuery = {
            ...stdQuery,
            ...queryObj
        }

        // Add the spin class the to refresh button
        spinElement.classList.add('spin');

        // Some timeout magic to make sure that the refresh button can at least spin
        //      for a full rotations
        // (I did NOT spend all that time animating it only for my server to be too fast
        //      to get to watch the animation)
        let gotResp = 1;
        let turnOff = false;
        setTimeout(() => {
            turnOff = true;
            if (gotResp === 0) {
                spinElement.classList.remove('spin');
            }
        }, 4000);

        // POST to the server
        $.ajax(finalQuery)
        .then((data) => {
            // Call the parameter callback
            updateDOM(data);
            
            completer.vocab = Object.getOwnPropertyNames(categories).map(x=>x)
            postPOSTCallback();
        })
        .fail(err => {
            console.log(err)
        })
        .always(response => {
            gotResp--;
            if (turnOff && gotResp === 0) {
                spinElement.classList.remove('spin');
            }
        });
    }

    // Current offset into the term array, and the term string at that offset
    let term  = '';

    // Function to display the next term of the content array in the label above the 
    //      main search bar, and to clear out all items from the chosen container
    //      and the selected arrat
    const nextTerm = (skip=true) => {
        if (skip) {
            content.splice(0, 1);
        }
        term = content[0];
        searchLabel.innerHTML = `Add Synonym : ${term} . . . `;
        clearCurrent();
        
        const terms = content.map(x=>x);
        sessionStorage.setItem('saidSynonymContent', JSON.stringify(terms));
    }


</script>