<style>
    .nav {
        border: 5px solid #134563; 
        text-align: center;
    }
    .row {
        background-color: #43a7c6;
        border-radius: 50px;
        height: 50px;
    }
    .col {
        border-radius: 25px;
        height: 25px;
        background-color: #add8e6;
        padding-right: 50px; 
        padding-left: 50px; 
        font-size:xx-large;
        transition: 0.5s;
    }
    .col:hover {
        background-color: #3f93aa;
    }
    .nav-bar-container {
        margin-top: 15px;
        padding-top: 5px;
        height: 130px;
        width: 100%;
        border-style: solid;
        border-width: 5px;
        background-color: #add8e6;
        border-color: #134563;
        border-radius: 50px;
    }
</style>
<div class="nav-bar-d" style="width: 100%">
    
    <div class="table nav row" style="width: 25%; margin: auto; margin-bottom: 0px;">
        <div class="table-row row">
            <a href="/" class="table-cell nav col"> Home </a>
        </div>
    </div>
    <div class="table nav row" style="width: 90%; margin: auto">
        <div class="table-row row">
            <a href="/synonyms/" class="table-cell nav col"> Search Synonyms </a>
            <a href="/said/"     class="table-cell nav col"> Said Synonyms  </a>
        </div>
    </div>
</div>