{% for category, syns in categories.items %}
    <div class="category-container box" id="remove-container">
        <h2 
            class="category-name box"
            id="{{ category }}"
                onclick="flipCategory( '{{ category }}' )"
                style="cursor: pointer;"
        > 
            <div class="bound">
                {{ category|title }} 
            </div>
        </h2>
        <ul class="syn-list box" id="minimize-container">
            {% for syn in syns %}
                <li 
                    class="syn" 
                    onmouseover="hightlightTerms(this, '{{ syn }}')"
                    onmouseout="unHightlightTerms(this, '{{ syn }}')" 
                    id="{{ syn }}"
                >
                    {{ syn }}
                </li>
            {% endfor %}
        </ul>
        <input type="button" onclick="
                move(this, '{{ category }}');
            iso();
        " class="x down" value="X" />
        <input type="button" onclick="minimize(this); iso();" class="_ down" value="_" />
    </div>
<div id="hiding-spot" style="display: none;"></div>
    
{% endfor %}


<script id="new-categories">
    // Taking all categories from django template and their associated list
    //      of synonyms, and putting them in an object
    
    // {% if singles %}
        categories 
    // {% else %}
        intersections
    // {% endif %}
    = {
        //{% for category, syns in categories.items %}
            '{{ category }}':[
                // {% for syn in syns %}
                '{{ syn }}',
                // {% endfor %}
            ],
        //{% endfor %}
    }
</script>