{% load static %}
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
<script src="{% static 'js/autocomplete.js' %}"></script>
<script>
    // Function to calle the isotope thingy to align the categories in 
    //      a jagged pattern.  Called whenever the categories list is updated in any way
    const iso = () => 
        $('.categories-wrapper').isotope({
            itemSelector: '.category-container',
            masonry: {
                columnWidth: 100
            }
        });
    iso();

    // Variables for autocompletion
    const delimiters = ' ,/\\|' 
    const delimRegex = new RegExp(`[${delimiters}]`, 'g')
    const completer  = new VocabCompleter(Object.keys(categories), delimiters)

    // Event handler that will capture the 'tab' key down event, if the 
    //      event occurred on a text box, will prevent the focus from 
    //      shifting, and will enter autocompleted text
    document.getElementById('main-search').addEventListener('keydown', (event) => {
        if (event.keyCode === 9          && 
            event.target.type === 'text' &&
            event.target.getAttribute('autocompletable') === 'true'
        ) {
            event.preventDefault();                         // prevent bubbling of even
            event.target.focus();                           // retain focus on the input element
            event.target.value = completer.complete (       // autocomplete
                event.target.value
            )
            return;
        }

    });
     // Array of all selected categories for the current term
     const selected = [];
    
    // Adding keyup event to the main search bar to add / remove category elements from the 
    //      chosen container depending on the text in the main search bar field
    document.getElementById('main-search').addEventListener('keyup', (event) => {
        // Getting the last character in the input element
        const inputText = event.target.value;
        const lastChar  = inputText.charAt(inputText.length - 1);
    
        if (delimiters.search(lastChar) > -1) {
            // If the last key in the string is one of the delimiter characters (found in the
            //      delimiter string in common_scripts.html), then we need to update the categories
            //      in the "chosen" wrapper
    
            // Getting the string terms for all the selected categories, with all blank 
            //      categories filtered out
            const selectedPrime = inputText.split(delimRegex).filter(x=>x);
    
            // Finding the differences in the two sets to find the categories to add and
            //      remove from the categories container
            const categoriesToAdd    = selectedPrime.filter(x => !selected.includes(x));
            const categoriesToRemove = selected.filter(x => !selectedPrime.includes(x));
    
            console.log('Add: ', categoriesToAdd);
            console.log('Rem: ', categoriesToRemove);

            // Adding elements
            categoriesToAdd.forEach(add => {
                addCategoryToChosen(add);
            });

            // Removing elements
            categoriesToRemove.forEach(remove => {
                removeCategoryFromChosen(remove);
            });

            console.log('Selected: ', selected);
            console.log('');
        }
    });


    // Function to add a category element to the chosen container, and remove it from
    //      the categories container
    const addCategoryToChosen = (add) => {
        // Pushing the item into the selected arrat
        selected.push(add);

        if (Object.getOwnPropertyNames(categories).includes(add)) {
            // If the category that we're adding already exists in the categories 
            //      object, then we just have to move the element from the 
            //      categories list into the selected list

            // Get the element to move
            const element = (
                document
                    .getElementById (
                        movedTerms.includes(add)
                        ? 'hiding-spot'
                        : 'categories'
                    )
                    .querySelector(`#${add}`)
                    .parentNode
            );

            // Create a clone
            const clone = element.cloneNode(true);

            // Remove the element from the categories list container
            $(`#categories-list-categories`).isotope('remove', element);
            iso();

            // Add the element to the selected list container
            $(`#categories-list-chosen`).isotope('insert', clone);
        } 
        else {
            const temp = document.createElement('div');
            temp.innerHTML = `
                <div class="category-container box" id="remove-container">
                    <h2 
                        class="category-name box"
                        id="${add}"
                    > 
                        <div class="bound">
                            ${add.capitalize()}
                        </div>
                    </h2>
                    <ul class="syn-list box" id="minimize-container">
                        <li 
                            class="syn" 
                            onmouseover="hightlightTerms(this, '${ term }')"
                            onmouseout="unHightlightTerms(this, '${ term }')" 
                            id="${ term }"
                        >
                            ${ term }
                        </li>
                    </ul>
                    <input type="button" onclick="remove(this); iso()" class="x down" value="X" />
                    <input type="button" onclick="minimize(this); iso()" class="_ down" value="_" />
                </div>
            `;
            const element = temp.children;

            // Add the element to the selected list container
            $(`#categories-list-chosen`).isotope('insert', element);

        }
        completer.vocab = completer.vocab.filter(x => x !== add);
    }

    // Function to remove a category element from the chosen container, and add it back
    //      to the categories container
    const removeCategoryFromChosen = (remove) => {
        // Removing the string from the selected list
        selected.splice(selected.indexOf(remove), 1);

        // Get the element from the chosen container
        const element = (
            document
                .getElementById('chosen')
                .querySelector(`#${remove}`)
                .parentNode
        );

        if (Object.getOwnPropertyNames(categories).includes(remove)) 
        {
            // If the category that we're adding already exists in the categories 
            //      object, then we need to insert a clone of the element into the 
            //      categories container

            // Create a clone
            const clone = element.cloneNode(true);
            
            // Add the clone to the categories list container
            $(`#categories-list-categories`).isotope('insert', clone);
        
            // Putting the term into the 
            completer.vocab.push(remove);
            completer.vocab.sort((a,b) => a.localeCompare(b));
        } 
        
        // Remove the element from the chosen list container
        $(`#categories-list-chosen`).isotope('remove', element);
        iso();
    }

    // Function to reflect the changes of the selected array onto the 
    //      text in the search bar
    const reflectChanges = () => {
        const search = document.getElementById('main-search');
        search.value = selected.reduce((acc, item) => {
            return `${acc} ${item}`
        }, '');
    }
    

     // Clear all data related to the current term from the chosen terms container, and the 
    //      selected array
    const clearCurrent = () => {
        // Getting the container for all the old chosen categories
        const chosenList = document.getElementById('categories-list-chosen');

        // Clear the chosen categories in DOM
        while (chosenList.firstChild) {
            chosenList.removeChild(chosenList.lastChild);
        }

        // Clear the selected array
        selected.splice(0, selected.length);
        
        // Clear the moved terms array
        movedTerms.splice(0, movedTerms.length);

        // Clear the string in the main search form
        document.getElementById('main-search').value = '';

    }

    // Onclick function for a category name click ... if the category is in the
    //      container for chosen categories, we move it to the unchosen categories
    //      container, and if the category was in the unchosen container we move it
    //      to the categories container
    // We also update the search string in the main search bar
    const flipCategory = (category) => {
        if (selected.includes(category)) 
        {
            // If the category string is in the list of selected categories,
            //      remove the category element, and add it to unchosen
            removeCategoryFromChosen(category);
        }
        else
        {
            // If the category string is not in the list of selected categories,
            //      add the category element to the chosen container, and remove
            //      it from the unchosen container
            addCategoryToChosen(category);
        }
        reflectChanges();
    }

    const movedTerms = [];
    // Functin to move a category from its currently displayed location
    //      to a hidden area where it won't be deleted
    const move = (element, term) => {
        if (selected.includes(term)) {
            // If the term being removed is selected, we need to remove
            //      it from the selected array, then reflect the changes
            //      in the main search string
            selected.splice(selected.indexOf('{{ category }'), 1)
            reflectChanges();
        }
        
        // Add this term to the movedTerms array
        movedTerms.push(term);
        
        // Remove element from DOM and from 
        remove(element);
        $('.categories-wrapper').isotope( 'remove', element );
        
        // Hide the element, so it doesn't get removed from the DOM
        document
            .getElementById('hiding-spot')
            .insertAdjacentElement('beforeend', upRemove(element));
        
        if (Object.getOwnPropertyNames(categories).includes(term)) { 
           // Add the term to the completer's vocab (the term would be)
           //       removed if the 
            completer.vocab.push(term);
        }

        // Reload all isotope containers
        iso();
        $('.categories-wrapper').isotope( 'reloadItems' );
    }

    // Variables for the refresh button
    let   recentSearch  = '';
    const mainSearchBar = document.getElementById('main-search');
    const refreshButton = document.getElementById('refresh');

    // Object to hold a shortcut mapping from terms to the elements that represent all instances
    //      of those terms in the DOM
    // Used in the highlightTerms and unHighlightTerms function (below) to have quicker shortcut
    //      to add and remove the .highlight class from terms without searching through
    //      the DOM every time you need to do that
    const termsElements = {}

    // Function that is called whenever a user mouses over a term in one of
    //      the category lists
    // Function applies a highlighting effect to all terms in all categories
    //      that match the term that the user has highlighted
    const hightlightTerms = (element, term) => {
        if (termsElements[ term ]) {
            // If there exists a mapping for the highlighting term in the termsELements
            //      array, then just apply the highlighting to all those elements
            termsElements[ term ].forEach(element => {
                element.classList.add('highlight');
            });
            // And then exit
            return;
        } 

        // Function to apply the highlighting to all terms in a category
        //      given by parameter category
        const applyHighLight = (obj) => (category) => {
            if (obj[ category ].includes(term)) {
                // If the given object's mapping of the given category
                //      contains the highlighting term

                // Get the element
                const termEle = document
                    .getElementById(category)
                    .parentNode
                    .querySelector(`#${term}`)
                ;;

                // Get the array that corresponds to that term
                //      in the termsEle objects
                let eleArr = termsElements[ term ];
                if (!eleArr) {
                    // Or create one if it doesn't exist
                    termsElements[ term ] = [];
                    eleArr = termsElements[ term ];
                }
                // Add the element found above to the array
                eleArr.push(termEle);

                // Add the highlighting effect to the term
                termEle
                    .classList
                    .add('highlight')
                ;;
            }
        };

        // Getting a version of the above function with the categories object baked in
        const applyCategories = applyHighLight(categories);
        
        // Applying highlights to all the terms in the categories map that match
        //      target term
        const categoryKeys = Object.getOwnPropertyNames(categories);
        categoryKeys.forEach(applyCategories);
        
        // happy indignant irritated surprised
        
        try  
        {
            // Doing the same as above for the intersections object:
            // Nested in a try block because if the user has not requested any
            //      intersections of combinations, the intersections object
            //      will not yet exist, and will cause crashes
            // And if the user is in the add synonyms page, then the intersections
            //      object can never exist

            // Getting a version of the above function with the intersectins object baked in
            const applyIntersections = applyHighLight(intersections);

            // Applying highlights to all the terms in the categories map that match
            //      target term
            const intersectionKeys = Object.getOwnPropertyNames(intersections);
            intersectionKeys.forEach(applyIntersections);
        } 
        catch {}
    }

    // Function called whenever a user's mouse leaves a term in a category
    //      list
    // Function removes the highlighting effects from all terms that match
    //      the terms that the mouse just left
    const unHightlightTerms = (element, term) => {
        console.log(term);

        // Getting the list of all term elements that were highlighted
        //      in the mouse over of this term
        const elements = termsElements[ term ];
        elements.forEach(element => {
            // Removing the highlight class from the element
            element.classList.remove('highlight');
        });
    }

    
</script>